* { box-sizing: border-box; }

@font-face {
    font-family: 'Lemon Tuesday';
    src: url('./fonts/lemon-tuesday.otf');
}

@font-face {
    font-family: 'Interior Finishing';
    src: url('./fonts/interior-finishing.otf');
}

@font-face { 
    font-family: Cardo;
    src: url('./fonts/Cardo-Regular.ttf');
}

@font-face { 
    font-family: DidactGothic;
    src: url('./fonts/DidactGothic-Regular.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    background-color: #f1f0f0;
    background-size: cover;
    background-size: 100% 100vh;
    background-attachment: fixed;

    height: 100%;
    width: 100%;
}

.header-container {
    position: relative;
    height: 300px;

    display: flex;
    align-items: center; 
}

.title-descritpion {
    padding-top: 10px;
    padding-left: 188px;
    padding-right: 200px;

    height: 300px;
    width: 90%;

    display: flex;
    align-items: flex-start; 
    gap: 20px;
}

.title-descritpion img {
    width: 300px;
    height: 300px;

    object-fit: contain;
    border: 10px solid black;
}

.descritpion .descript-title {
    margin: 3px auto;
    
    font-family: 'Cardo', 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 600;

    text-decoration: underline 3px;
    text-underline-offset: 10px;
}

.descritpion .descript-short {
    font-family: 'DidactGothic', 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;

    line-height: 1.5;
    text-align: justify;
}

.naviagtion {
    position: absolute;
    right: 15px;
    top: 10px;

    font-family: 'Interior Finishing';
    font-size: 20px;
    color: black;

    text-align: right;
    line-height: 1.2;
    
    display: flex;
    flex-direction: column;
}

.naviagtion a {
    text-decoration: none;
    color: grey;
    transition: color 0.3s;
}

.naviagtion a:hover {
    color: black;
}

.main {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
}

.content {
    margin: 0 auto;

    padding-left: 200px;
    padding-right: 200px;
}

.content h3 {
    font-family: 'Cardo', 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 500;

    text-indent: -10px;
}

.content h4 {
    font-family: 'Cardo', 'Montserrat', sans-serif;
    font-size: 25px;
    letter-spacing: 3px;
}

.content p {
    font-family: 'DidactGothic', 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;

    line-height: 1.5;
    text-align: justify;
}

.content p.label{
    text-align: center;
}

.content ul {
    margin: 0 auto;
    
    font-family: 'DidactGothic', 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;

    line-height: 1.5;
    text-align: justify;
}

.content img {
    margin: auto;
    display: block;

    width: 1000px;
    border: 3px solid black;
}